<!DOCTYPE html>
<html>
<head>
	<title>free software</title>
</head>
<body>
	<table border="4px">
	<tbody>
		<tr>
			<th rowspan="4">This is a paragraph about me, lan!
				<br/>This is another paragraph about me,lan!</th>
			<th colspan="2">random names</th>
		</tr>

		<tr>
			<td>J.Doe</td>
			<td>P.Day</td>
		</tr>
		<tr>
			<td>R.Bob</td>
			<td>T.Sam</td>
		</tr>
		<tr>
			<td colspan="2">contact me for details</td>
		</tr>
		<tr>
			<td ><b>free software</b><br>
				     1.Linux<br>
				     2.Appache<br>
				     3.Mysql<br>
				     4.php<br>
			</td>
			<td colspan="2">HELLO</td>
		</tr>
	</tbody>
	</table>
</body>
</html>